.header {
  background-color: darkgray;
  text-align: right;
  height: 5em;
}
.header h1 {
  padding-top: 1em;
  padding-right: 4em;
  color: white;
}

.nav {
  background-color: grey;
  height: 2em;
  overflow: hidden;
}

.nav-link {
  display: inline-block;
  padding: 0.5em;
}

.nav-link > a {
  text-decoration: none;
  color: white;
}

div .nav-sub-links {
  display: none;
  list-style: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-top: 0.5em;
  padding: 0px;
  text-decoration: none;
}

.nav-sub-links a {
  color: lightblue;
  text-decoration: none;
}

.nav-sub-links li {
  height: 2em;
}

.nav-link:hover .nav-sub-links {
  display: block;
  color: aqua;
}

.nav-link:hover {
  background-color: black;
}

.footer {
  background-color: black;
  text-align: center;
  bottom: 0;
  position: fixed;
  width: 100%;
  height: 2em;
}

.footer div {
  padding-top: 0.25em;
  color: white;
}

.images {
  border: 2px solid blue;
  background: url('../Images/Animation/ani1.jpg');
  animation: slide 10s infinite;
  min-width: 100%;
  height: 40em;
  background-repeat: no-repeat;
  object-fit: cover;
}

@keyframes slide {
  20% {
    background: url('../Images/Animation/ani1.jpg');
    background-repeat: no-repeat;
  }
  40% {
    background: url('../Images/Animation/ani2.png');
    background-repeat: no-repeat;
  }
  50% {
    background: url('../Images/Animation/ani3.jpg');
    background-repeat: no-repeat;
  }
  70% {
    background: url('../Images/Animation/ani4.jpg');
    background-repeat: no-repeat;
  }
  100% {
    background: url('../Images/Animation/ani5.jpg');
    background-repeat: no-repeat;
  }
}

.section1 {
  width: 50%;
  float: left;
}

.section2 {
  width: 50%;
  float: right;
}

.section2 img {
  width: 100%;
}

.form-inputs {
  width: 30em;
  margin: 2em;
}
